<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.anttribe.vigor.defensor.dao.IRoleResourceDao">
	<cache readOnly="true" />
	<resultMap id="RoleResource-resultMap" type="org.anttribe.vigor.defensor.domain.RoleResource">
		<id property="id" column="id" />
		<association property="resource"
			javaType="org.anttribe.vigor.defensor.domain.Resource">
			<id property="id" column="resource_id" />
			<result property="name" column="resource_name" />
		</association>
	</resultMap>

	<!-- select -->
	<sql id="select">
        <![CDATA[
            SELECT t.id, t.role_id, t.resource_id, t1.name AS resource_name
              FROM vigor_defensor_t_role_resource_rec t
              LEFT JOIN vigor_defensor_t_resource_info t1 ON t1.id = t.resource_id
        ]]>
	</sql>

	<!-- where -->
	<sql id="where">
		<where>
			<if test="null != id and id != ''">
				AND t.id = #{id}
			</if>
			<if test="null != role and null != role.id and '' != role.id">
				AND t.role_id = #{role.id}
			</if>
			<if test="null != resource and null != resource.id and '' != resource.id">
				AND t.resource_id = #{resource.id}
			</if>
		</where>
	</sql>

	<!-- where-no-alias -->
	<sql id="where-no-alias">
		<where>
			<if test="null != id and id != ''">
				AND id = #{id}
			</if>
			<if test="null != role and null != role.id and '' != role.id">
				AND role_id = #{role.id}
			</if>
			<if test="null != resource and null != resource.id and '' != resource.id">
				AND resource_id = #{resource.id}
			</if>
		</where>
	</sql>

	<!-- order-by -->
	<sql id="order-by">
	    <![CDATA[ ORDER BY t.id ASC ]]>
	</sql>

	<!-- limit -->
	<sql id="limit">
		<if test="null != pagination">
			limit #{pagination.offset}, #{pagination.pagesize}
		</if>
	</sql>

	<!-- insert: 插入单条数据 -->
	<insert id="insert" parameterType="org.anttribe.vigor.defensor.domain.RoleResource">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
		    <![CDATA[ SELECT LAST_INSERT_ID() ]]>
		</selectKey>
		<![CDATA[
		    INSERT INTO vigor_defensor_t_role_resource_rec(role_id, resource_id)
		        VALUES(#{role.id}, #{resource.id})
		]]>
	</insert>

	<!-- batchInsert: 批量插入数据 -->
	<insert id="batchInsert" parameterType="java.util.List">
		<![CDATA[
		    INSERT INTO vigor_defensor_t_role_resource_rec(role_id, resource_id)
		        VALUES
		]]>
		<foreach collection="list" item="item" separator=", ">
			<![CDATA[ (#{item.role.id}, #{item.resource.id}) ]]>
		</foreach>
	</insert>

	<!-- update: 更新数据 -->
	<update id="update" parameterType="org.anttribe.vigor.defensor.domain.RoleResource">
        <![CDATA[
            UPDATE vigor_defensor_t_role_resource_rec
        ]]>
		<set>
			<if test="null != role and null != role.id and '' != role.id">
				role_id = #{role.id},
			</if>
			<if test="null != resource and null != resource.id and '' != resource.id">
				resource_id = #{resource.id},
			</if>
		</set>
		<![CDATA[
            WHERE id = #{id}
        ]]>
	</update>

	<!-- delete: 删除数据 -->
	<delete id="delete" parameterType="Map">
	    <![CDATA[
            DELETE FROM vigor_defensor_t_role_resource_rec
        ]]>
		<include refid="where-no-alias"></include>
		<where>
			<if test="null != roles and roles.size() > 0">
			    <![CDATA[ AND role_id IN ]]>
			    <foreach collection="roles" item="item" open="(" separator="," close=")">
			        <![CDATA[ #{item.id} ]]>
			    </foreach>
			</if>
		</where>
	</delete>

	<!-- findAll: 查询所有数据 -->
	<select id="findAll" resultMap="RoleResource-resultMap">
		<include refid="select"></include>
		<include refid="order-by"></include>
	</select>

	<!-- find: 根据条件查询数据 -->
	<select id="find" resultMap="RoleResource-resultMap" parameterType="Map">
		<include refid="select"></include>
		<include refid="where"></include>
		<include refid="order-by"></include>
		<include refid="limit"></include>
	</select>

	<!-- count: 根据条件查询数据条数 -->
	<select id="count" resultType="int">
		<![CDATA[
            SELECT COUNT(1)
              FROM vigor_defensor_t_role_resource_rec t
        ]]>
		<include refid="where"></include>
	</select>
</mapper>